*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width:90%;
    margin: auto;
}
/*header-section*/
#header{
    background-image: url('images/banner/banner3.png');
    background-position: center;
   
    background-attachment: fixed;
    width:100%;
    height:100vh;
}
#header h2 {
	font-weight: 700;
	font-size: 74px;
	line-height: 74px;
    color: #FFFFFF;
}
#header p{
    font-weight: 400;
font-size: 16px;
line-height: 21px;
color: #FFFFFF;
margin-top:3% ;
}
#header button{
    width: 160px;
height: 64px;
background: #FFFFFF;
border-radius: 5px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
border-color: #FFFFFF;
color: #005FAC;
margin-top: 4%;

}
.header-text{
    width:50%;
    float:right;
    text-align: right;
    margin-top: 270px;
    margin-right: 115px;
}

/*about-section*/
.about{
    margin:183px 206px;
    display: flex;
}
.about-img{
    width: 30%;
   margin-left: 10%;
}

.about-img img{
  max-width:100%;
  height:auto;

}
.about-text {
	float: right;
	text-align: left;
	margin-left: 65px;
	margin-top: 148px;
}
.about-text h2{
    font-weight: bold;
    font-size: 40px;
    line-height:38px;
    color: #151414;
    margin-bottom: 21px;
}
.about-text p {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #444343;
	margin-top: 9px;
}
.fa-check{
    margin-right: 10px;
    color:#18d888;
}
/*Plan-section*/
#plan-section{
    margin-left: 230px;
    margin-right: 230px;
    margin-top: 350px;
    margin-bottom:150px;
}
.plan-title{
    text-align: center;
    margin:5% 0;
    font-weight: 700;
font-size: 40px;
color: #151414;
}
.plan{
    display: flex;
    justify-content: space-around;
 }
 .plan1{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
 }
 .target{
    text-align: center;
 }
.target-img{
    height:70px;
    width:70px;
    border-radius: 10%;
}
.target h4 {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 43px;
	text-align: center;
	color: #151414;
}
.target p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 29px;
    text-align: center;
    color: #737272;
}

/*follow-section*/
#follow{
    margin-left: 230px;
    margin-right: 230px;
    margin-top: 350px;
    margin-bottom:150px;
}
.follow-title{
    text-align: center;
    margin:5% 0;
    font-weight: 700;
font-size: 40px;
color: #151414;
}
.follow{
    display: flex;
    justify-content: space-around;
 }

 .follow1{
    text-align: center;
    width:30%;
 }
.follow-img{
    height:70px;
    width:70px;
    border-radius: 10%;
}
.follow1 h4 {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 43px;
	text-align: center;
	color: #151414;
}
.follow1 p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 29px;
    text-align: center;
    color: #737272;
}

/*motivation section*/
.motivation {
	width: 62%;
	margin: 40px 0;
    margin-bottom: 240px;
	background: url('images/gradient1.png') no-repeat 0 0 / cover,url('images/watch.png') no-repeat center center/cover;
	padding: 5% 1%;
	border-radius: 20px;
	margin-left: 19%;
}
.motivation-title{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    margin-bottom: 3%;
}

a.motivation-btn{
    text-decoration: none;
    width: 160px;
height: 64px;
font-weight: 600;
font-size: 20px;
line-height: 23px;
text-align: center;
color: #005FAC;
background: #FFFFFF;
border-radius: 5px;
padding:1% 1%;

}
/*footer-section*/
#footer-section{
    background-color: black;
}
.footer{
    padding:10% 230px;
    display: flex;
    justify-content: space-around;
}
h4.footer-text-header{
    font-weight: 700;
font-size: 45px;
line-height: 53px;
color: #F8F8F8;
}
.footer-dec{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #FFFFFF;
}
.footer-dec1{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #FFFFFF;
margin-top: 30px;
margin-bottom: 10px;
}
.footer-icon a img{
    height:30px;
    width:30px;
    margin-right:5px;
    margin-top: 30px;
}
.footer-form{

}
.footer-form-title{
    font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 29px;
color: #FFFFFF;
margin-bottom: 20px;
}
.form-email{
    background-color: black;
    box-shadow: none;
    color:white;
border: 1px solid #FFFFFF;
padding:10% 17%;
margin-bottom: 10px;
border-radius: 8px;
}
.sumbit{
    width: 110px;
    height: 50px;
     background: #005FAC;
    border-radius: 8px;
    font-weight: 400;
font-size: 14px;
border-color: #005FAC;
color: #FFFFFF;
display: block;
}